{% extends 'base.html' %}
{% block title %}Oversight{% endblock %}

{% block content %}
      <div class="jumbotron">
          <h2 class="display-4">Welcome to Oversight.</h2>
          <div>
              <img src="{{ url_for('static', filename='landing.svg') }}">
           </div>
          <p>Manage your cyber security risk.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
          </p>
        </div>

      <div class="row">
        <div class="col-lg-12">
            <p>Powered by Wolfpack Information Risk.</p>
        </div>
        </div><!-- /.col-lg-12 -->
      </div>
{% endblock %}